body {
  font-family: "Poppins", sans-serif;
  background-image: url("../src/assets/images/img-bg-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 20px 10px;
  border: 0;
}

.hidden {
  display: none;
}

.desktop {
  &-show {
    display: block;
  }
  &-hide {
    display: none;
  }
}

.bold {
  font-weight: bold;
}

.mb-10 {
  margin-bottom: 10px;
}

.container {
  display: flex;
  width: 100%;

  &__left {
    flex: 1;
  }

  &__right {
    flex: 1;
    margin-left: 40px;

    &-text {
      font-family: "Nanum Pen Script", cursive;
      font-size: 24px;
      width: 49%;
      margin: 66px 34px 0 auto;
      text-align: right;
    }

    &-paragraph-one {
      margin-bottom: 20px;
    }

    &-paragraph-two-mobile {
      display: none;
    }

    &-image-one {
      margin-top: -43px;
      background-image: url("/src/assets/images/img-top-dotted-line.svg");
      background-repeat: no-repeat;
      width: 100%;
      height: 24%;
    }

    &-image-two {
      text-align: right;
      margin: 16px 26px 0 0;

      img {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}

@media (max-width: 1024px) {
  body {
    background-image: url("../src/assets/images/img-bg-mobile.svg");
  }

  .container {
    flex-direction: column;

    &__left {
      flex: 1;
      order: 2;
      display: flex;
      justify-content: center;
    }

    &__right {
      flex: 1;
      margin-left: 0;
      order: 1;
      display: flex;
      flex-direction: column;

      &-image-one {
        background-image: url("/src/assets/images/img-top-dotted-line-mobile.svg");
        background-repeat: no-repeat;
        width: 100%;
        height: 50px;
        order: 3;
        margin-left:20px;
      }

      &-image-two {
        img {
          order: 3;
        }
      }

      &-paragraph-one {
        padding-left: 30px;
        width: 62%;
        order: 1;
      }

      &-paragraph-two-mobile {
        display: block;
        order: 4;
      }

      &-paragraph-two {
        padding: 30px 0 0 30px;
        width: 55%;
        margin-bottom: 30px;
        order: 5;
      }

      &-text {
        width: 100%;
        margin: 0;
        text-align: left;
        display: flex;
        margin: 0 30px 30px auto;
        order: 3;
        width: 50%;
      }
    }
  }
  .mobile {
    &-show {
      display: block;
    }
    &-hide {
      display: none;
    }
  }
}
