$form-background-color: #ffffff;
$form-padding: 32px 40px;
$form-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1);
$form-border-radius: 20px;
$form-margin-top: 60px;

.form {
  &__content {
    padding: $form-padding;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: $form-box-shadow;
    border-radius: $form-border-radius;
    margin-top: $form-margin-top;
    background-color: $form-background-color;
  }

  &__paragraph-one {
    height: 48px;
    width: 60%;
    color: #000000;
    font-size: 22px;
    font-weight: bold;
    line-height: 24px;
  }

  &__paragraph-two {
    color: #000000;
    font-size: 16px;
    line-height: 17px;
    margin-bottom: 0;
  }

  &__checkbox {
    display: flex;
    align-items: flex-start;

    &:first-child {
      margin-bottom: 10px;
    }
  }

  &__input-container {
    &:first-child {
      margin-bottom: 10px;
    }
  }

  &__btn-container,
  &__checkbox-container,
  &__input-container,
  &__paragraph-two {
    align-self: flex-end;
    margin-top: auto;
  }
}
