.input {
  box-sizing: border-box;
  font-size: 16px;
  width: 357px;
  padding: 15px;
  border-radius: 12px;
  background-color: #efeeeb;
  border: 0;

  &__text,
  &__email {
    padding-left: 20px;
    outline: none;
  }

  &::placeholder {
    color: #000000;
  }
}
