.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 42px;
}

h2 {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 28px;
}

.container {
  display: flex;
  max-width:1280px;
}
.card-grid{
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns */
  grid-template-rows: repeat(5, 1fr); /* 5 rows */
  gap: 10px; /* Gap between the cards */
  justify-items: center; /* Center the cards horizontally */
  align-items: center; /* Center the cards vertically */
  margin-bottom: 20px; /* Add margin at the bottom */
}

.container__left {
  flex: 1;
  // Add any other styles you need for the container__left
}

.container__right {
  flex: 1;
  // Add any other styles you need for the container__right

  &-text {
    // Styles for the text inside the container__right
  }

  &-image {
    // Styles for the image inside the container__right
  }

  &-paragraph-one {
    // Styles for paragraph one inside the container__right
  }

  &-paragraph-two {
    // Styles for paragraph two inside the container__right
  }
}

