h1 {
  font-size: 36px;
  font-weight: 500;
  line-height: 42px;
}

h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

.container {
  display: flex;
}

.container__left {
  flex: 1;
}

.container__right {
  flex: 1;
  margin-left: 40px;
}

.container__right-text {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 24px;
  width: 34%;
  margin: 30px 0 0 auto;
}

.container__right-image {
  text-align: right;
  margin-top: 74px;
}

.container__right-image img {
  display: inline-block;
  vertical-align: middle;
}

.container__right-paragraph-one {
  /* Styles for paragraph one inside the container__right */
}

.container__right-paragraph-two {
  /* Styles for paragraph two inside the container__right */
}
