.form {
  background-color: #ffffff;
  padding: 32px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-top: 60px;
}

.form-paragraph-one {
  height: 48px;
  width: 60%;
  color: #000000;
  font-size: 22px;
  font-weight: bold;
  line-height: 24px;
}

.form-paragraph-two {
  color: #000000;
  font-size: 16px;
  line-height: 17px;
  margin-bottom: 0;
}

input[type='text'],
input[type='email'] {
  height: 23px;
  width: calc(100% - 36px); /* Decrease the width to accommodate checkboxes */
  border-radius: 16.46px;
  background-color: #efeeeb;
  padding: 12px 20px;
  margin: 0 8px 15px 0;
  border: 0;
}

input[type='email']:last-of-type {
  margin-bottom: 0;
}

input::placeholder {
  color: #000000;
  font-family: Poppins;
  font-size: 16px;
  line-height: 17px;
}

input:focus {
  outline: none;
  border: 1px solid #000000;
}

.checkbox-text {
  height: 18px;
  color: #000000;
  font-size: 14px;
  margin-left: 8px;
  display: flex;
  justify-content: center;
}

.custom-checkbox {
  display: flex;
  align-items: flex-start; /* Update this line to align with the name input */
}

.custom-checkbox:first-child {
  margin-bottom: 10px; /* Add bottom margin to the first checkbox */
}

.custom-checkbox input[type='checkbox'] {
  display: none;
}

.custom-checkbox .checkmark {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 28px;
  background-color: #efeeeb;
  border-radius: 8px;
  margin-right: 8px;
}

.custom-checkbox .checkmark::after {
  content: '';
  position: absolute;
  display: none;
}

.custom-checkbox input[type='checkbox']:checked ~ .checkmark {
  background-color: #efeeeb;
  border: 2px solid #000000;
}

.custom-checkbox input[type='checkbox']:checked ~ .checkmark::after {
  content: '';
  position: absolute;
  display: block;
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #000000;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.btn-container,
.checkbox-container,
.input-container,
orm-paragraph-two {
  align-self: flex-end;
  margin-top: auto;
}

.submit-btn {
  height: 48px;
  width: 148px;
  border-radius: 16px;
  background-color: #52b1b3;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  text-align: center;
  align-self: flex-end;
  margin-top: auto;
  border: 0;
  bottom: 0;
}

.btn-text {
  color: #ffffff;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
}

.submit-btn:hover {
  background-color: #ffd700 !important;
  color: #000;
}
