@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-image: url('../src/assets/images/img-bg-desktop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 2rem;
  border: 0;
}

.bold {
  font-weight: bold;
}

.mb-10{
  margin-bottom: 10px;
}
